/*======= GLOBAL =========*/
#mobile{
	display: none;
}
html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;	
}

/*======= HELPER =========*/
.fixed{
	position: fixed;
}
.centered{
	-ms-transform: translate(-50%, 0%);
	-webkit-tranform: translate(-50%, 0%); 
	-o-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%);
}
.fullcentered{
	-ms-transform: translate(-50%, -50%);
	-webkit-tranform: translate(-50%, -50%); 
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);	
}
.dim{
	-ms-filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	-o-filter: brightness(0.6);
	-moz-filter: brightness(0.6);
	filter: brightness(0.6);	
}

/*=======NAVIGATION BUTTONS=========*/
.btn{
	left: 50vw;
	height: 16vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;	
}
.btn:hover{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}

/*=====================LOADING PAGE=======================*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10vw;
    height: auto;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    z-index: 1001;
}

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg)
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000;
        z-index: 1000;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
		        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }












/*===================== PAGE I =======================*/
#firstPage{
	z-index: 30;
	background-image: url('../img/masthead_background.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}
#firstPageBanner{
	display: none;
	position: relative;
	top: 0%;
	left: 50%;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 100px black;
	text-align: center;
}
#firstPageBanner h1, h2{
	display: inline-block;
	font-family: 'Anton', sans-serif;
	letter-spacing: 3px;
}
#textholder{
	z-index: 31;
	width: 30em;
	height: 12em;
}
#textholder h1, h2{
	margin: 1em;
}
#myName, #myTitle{
	margin: 0%;
}
#enter_here{
	position: absolute;
	top: 84%;
}















/*===================== PAGE II =====================*/
#pageII{
	width: 100vw;
	height: 100vh;
	z-index: 20;
}
#back_to_landing{
	z-index: 22;
	top: 1%;
}
/*============= Curtain =============*/
.curtain{
	z-index: 21;
	width: 50vw;
	height: 100vh;
}
#curtain1{
	top: 0%;
	left: 0%;
}
#curtain2{
	top: 0%;
	left: 50%;
}
/*============= BioSection =============*/
#bio{
	z-index: 22;
	top: 50%;
	left: 50%;
	width: 30vw;
	border: 15px groove white;
	font-size: 1.5em;
	background: rgba(255, 255, 255, 0.5);
	font-family: 'Average Sans', sans-serif;
	padding: 1%;
}
.bioHeader{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-size: 1.6em;
	text-align: center;
}
.sendMeALine{
	color: #6d1c1c;
	cursor: pointer;
	cursor: hand;
}
#self_portrait{
	z-index: 22;
	top: 50%;
	left: 15%;	
	height: 40vh;
	width: auto;
	border-radius: 30%;
}
#marquee{
	z-index: 22;
	top: 50%;
	left: 85%;
	height: auto;
	width: 27vw;
}
#to_connections{
	z-index: 22;
	top: 84%;
}










/*===================== PAGE III =====================*/
#thirdpage{
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: #000 url('../img/floor/woodfloor.jpg') no-repeat fixed bottom;
	background-size: 100vw 10vh;
}
#back_to_bio{
	z-index: 14;
	top: -29%;
}
/**************** HANGIN STARS ********************/
@-moz-keyframes swing{
	0%{-moz-transform:rotate(-3deg)}
	50%{-moz-transform:rotate(3deg)}
	100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
	0%{-webkit-transform:rotate(-3deg)}
	50%{-webkit-transform:rotate(3deg)}
	100%{-webkit-transform:rotate(-3deg)}
}
.bg-star{
	height: 40vh;
	width: auto;
	z-index: 10000;
	top: -65vh;
}

/*=========STAR A==========*/
#starA{
	left: 2vw;
	-moz-animation: 3s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR B==========*/
#starB{
	left: 18vw;
	-moz-animation: 3.5s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.5s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR C==========*/
#starC{
	left: 35vw;
	-moz-animation: 3.1s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.1s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR D==========*/
#starD{
	left: 59vw;
	-moz-animation: 3.3s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.3s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR E==========*/
#starE{
	left: 78vw;
	-moz-animation: 3.7s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.7s infinite ease-in-out;
	-webkit-transform-origin:top;
}


/*======BURGER CONTACT========*/
#burgercontainer{
	top: -70vh;
	left: 92vw;
}
#burgercontainer:hover > #contactword{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}
#burger{
	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;

	-moz-animation: 3.1s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.1s infinite ease-in-out;
	-webkit-transform-origin:top;
}
#burger:hover{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}
#contactword{
	position: absolute;
	z-index: 3;
	top: 460px;
	left: 0%;

	max-height: 3vh;
	min-height: 3vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;	
}


/********************ICONS********************/
.iconContainer{
	z-index: 11;
	top: -145vh;	
}
.icon{
	height: 75vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;	
}
#newspaperContainer{
	left: 10vw;
}
#suitContainer{
	left: 30vw;
}
#briefcaseContainer{
	left: 50vw;
}
#octocatContainer{
	left: 72vw;
}
#pianoContainer{
	left: 90vw;
}


/*=====ICON CLICKABLE AREA========*/
.clicker{
	min-width: 100%;
	max-width: 100%;
	min-height: 30%;
	max-height: 30%;

	z-index: 19;
	display: inline-block;
	border-radius: 10%;

	position: absolute;
	top: 60vh;
	cursor: pointer;
	cursor: hand;
}
.clicker:hover ~ .icon{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
#newspaperclicker{
	/*left: -28%;*/
}
#suitclicker{
	/*left: -63%;*/
}
#briefcaseclicker{
	/*left: -5%;*/
}
#octocatclicker{
	/*left: -36%;*/
}
#pianoclicker{
	/*left: -40%;*/
}

/*======WORDS========*/
.words{
	position: absolute;
	z-index: 11;
	top: 103%;
	left: -45%;

	max-height: 6vh;
	min-height: 6vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}
.clicker:hover ~ .words{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
#blogword{
}
#linkedinword{
}
#portfolioword{
	left: -30%;
}
#githubword{
	left: -30%;
}
#musicword{
	left: -30%;
}
#contactword{
	
}

/*========SHADOWS========*/
.shadow{
	z-index: 12;
	position: fixed;
	width: 17vw;
	height: 5vh;
	border-radius: 100%;
	background: rgba(255,255,255,.4);
	display: none;
	top: 95vh;

}
#newspapershadow{
	left: 10vw;
}
#suitshadow{
	left: 30vw;
}
#briefcaseshadow{
	left: 50vw;
}
#octocatshadow{
	left: 72vw;
}
#pianoshadow{
	left: 90vw;
}







/**************** TWINKLE STARS ********************/

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
	top: 0%;
	z-index: 0;

	max-height: 90vh;
	min-height: 90vh;
	width: 100vw;

	display:block;
}

.stars {
	background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	background-attachment: fixed;
	background-size: cover;
	z-index:0;
}

.twinkling{
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index:1;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}



/*========POP UPS=============*/
/* The Modal (background) */
.popup {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.popup-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	position: fixed;
	top: 50%;
	left: 50%;
}
.popup-content h3{
	text-align: center;
	font-family: 'Anton', sans-serif;
}
.category{
	display: inline-block;
	width: 3.5em;
	text-align: left;
	font-family: 'Average Sans', sans-serif;
}
#contact-content{
	width: 30%;
	font-size: 1.3em;
	font-family: 'Average Sans', sans-serif;
}


/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}