/*=======GLOBAL=========*/
#desktop, #fullpage{
	display: none;
}
html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;	
}
a{
	text-decoration: none;
}

/*======= HELPER =========*/
.centered{
	-ms-transform: translate(-50%, 0%);
	-webkit-tranform: translate(-50%, 0%); 
	-o-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%);
}
.fullcentered{
	-ms-transform: translate(-50%, -50%);
	-webkit-tranform: translate(-50%, -50%); 
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);	
}
.dim{
	-ms-filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	-o-filter: brightness(0.6);
	-moz-filter: brightness(0.6);
	filter: brightness(0.6);	
}



/*=======LANDING=========*/
#landing{
	width: 100vw;
	height: 100vh;
	background-image:url('../img/masthead_background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
#landingBanner{
	display: none;
	position: relative;
	
	top: 30vh;
	left: 50%;

	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 100px black;
	text-align: center;
}
#landingBanner h1, h2{
	display: inline-block;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
}
#bannerText{
	width: 90vw;
	height: 21em;
}
#bannerText h1, h2{
	margin: 1em;
}
#name, #title{
	margin: 0%;
}
#name{
	font-size: 4em;
	line-height: 1em;
}
#title{
	font-size: 2em;
	line-height: 1em;
}


/*======= Section Two =========*/
#sectionTwo{
	background: gray url('../img/texture/textured_background.png') repeat center;
	background-attachment: fixed;
	width: 100vw;
	/*height: 140vh;*/
	/*overflow: auto;*/
}
@media only screen and (max-width: 500px) {
	#sectionTwo{
		background: gray url('../img/texture/textured_background.png') repeat center;
		background-attachment: fixed;
		width: 100vw;
		/*height: 130vh;*/
		/*overflow: auto;*/
	}
}
#thomasImage{
	width: 45vw;
	height: auto;
	position: relative;
	left: 50%;
	top: 5vh;
	border-radius: 100%;
}

#bioMobile{
	width: 30vw;
	border: 3px solid white;
	font-size: 1.5em;
	background: rgba(255, 255, 255, 0.5);
	font-family: 'Average Sans', sans-serif;
	padding: 1%;
	position: relative;
	top: 10vh;
	min-width: 80vw;
	position: relative;
	left: 50%;
}
.sendMeALine{
	color: #6d1c1c;
	cursor: pointer;
	cursor: hand;
}
.bioHeader{
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	letter-spacing: 3px;
	text-align: center;
}
#marqueeMobile{
	height: 26vh;
	width: auto;
	position: relative;
	left: 50%;
	top: 15vh;
	margin-bottom: 20vh;
}


/*======= Section Three =========*/
#sectionThree{
	height: 100vh;
	position: relative;
}


/*======WORDS========*/
.words{
	position: absolute;
	z-index: 13;
	left: 50%;

	height: auto;
	width: 75vw;
}

#blogwordMobile{
	top: 12.7%;
}
#linkedinwordMobile{
	top: 28.3%;
}
#portfoliowordMobile{
	top: 44%;
}
#githubwordMobile{
	top: 59.6%;
}
#musicwordMobile{
	top: 75.3%;
}
#contactMe{
	width: 60vw;
	top: 92%;
	background: white;
	text-align: center;
	border-radius: 20px;
	padding: 0px;
}
#contactMe h1{
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	margin: 0px;
}




/**************** TWINKLE STARS ********************/

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
	position: relative;
	/*top: 280vh;*/

	height: 100vh;
	width: 100vw;

	display:block;
}

.stars {
	background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	background-attachment: scroll;
	background-size: cover;
	z-index:0;
	top: 0%;
}

.twinkling{
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index:1;
	height: 100vh;
	top: -100vh;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}


/*========POP UPS=============*/
/* The Modal (background) */
.popup {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	font-family: 'Average Sans', sans-serif;
}
/* Modal Content/Box */
.popup-content {
	background-color: #fefefe;
	padding: 5vw;
	border: 1px solid #888;
	min-width: 300px;
	width: 90vw;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 3.5em;
}
/* The Close Button */
.close, .pclose, .iclose {
	color: #aaa;
	float: right;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Average Sans', sans-serif;
	position: absolute;
	top: 5px;
	right: 10px;
}

.close:hover,
.close:focus,
.pclose:hover,
.pclose:focus,
.iclose:hover,
.iclose:focus,
.popupLink:hover,
.popupLink:focus {
	color: black;
	text-decoration: none;
}
/*======CONTACT POPUP======*/
#contact-content{
	width: 80%;
	font-size: 2em;
	font-family: 'Average Sans', sans-serif;
	text-align: center;
	margin: 0px;
}
#phone{
	display: inline-block;
	font-size: 1em;
	margin-top: 1em;
}
#email{
	font-size: 70%;
}
big{
	font-size: 1.2em;
}
/*======PORTFOLIO LAYER 1======*/
#portfolio-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}
.portfolioType{
	display: inline-block;
	font-family: 'Anton', sans-serif;
	font-size: 1em;
	margin: 20px 0px;
	display: inline-block;
	flex: 0 0 80%;
	text-align: center;
	border: 3px solid black;
	border-radius: 5px;
}
/*======PORTFOLIO LAYER 2======*/
.portfolio-box{
	position: relative;
	width: 90vw;
	height: 100vh;
	overflow: scroll;
}
.portfolio-box .pclose{
	top: 10%;
}
.projectContainer{
	display: inline-block;
	width: 90vw;
	text-align: center;
}
.projectContainer:nth-child(2){
	margin-top: 50px;
}
.portfolioClicker{
	display: inline-block;
	text-align: center;
	width: 85vw;
}
.portfolioTitle{
	/*position: relative;*/
	text-decoration: none;
	color: black;
	display: block;
	font-size: .7em;
	margin-bottom: 10px;
}
.portfolioImage{
	width: 60vw;
	height: auto;
	display: inline-block;
	margin: auto;
	border: 3px solid black;
}
.popupLink{
	width: 50px;
	height: auto;
	margin: 0px 15px 20px 15px;
}
/*======PORTFOLIO LAYER 3======*/
.infoBox{
	z-index: 1000;
	display: none;
	width: 90vw;
	font-family: 'Average Sans', sans-serif;
	font-size: 90%;
}
.infoBox>h2{
	width: 100%;
	text-align: center;
	text-decoration: underline;
}