html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}


/*=======SKROLLR Fixed Positioning=========*/


.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}

.fixed{
	position: fixed;
	z-index: 100;
}





/*=======LANDING=========*/
#masthead{
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-image:url('../img/masthead_background.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 6;
}
#mastheadBanner h1, h2{
	display: inline-block;
	font-family: 'Permanent Marker', cursive;
}
#mastheadBanner{
	display: none;
	position: relative;
	top: 30%;
	left: 35%;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 100px black;
	/*width: 400px;*/
	text-align: center;
	z-index: 10;

	min-height: 20vh;
	max-height: 20vh;
	min-width: 30vw;
	max-width: 30vw;
}
#textHolder{
	min-height: 20vh;
	max-height: 20vh;
	min-width: 30vw;
	max-width: 30vw;	
	text-align: center;
}
#textHolder h2{
	margin: 0px;
	font-size: 170%;
}
#greeting{
	font-size: 200%;
}
#myName, #myTitle{
	display: none;
}




/*=======STAGE=========*/
#curtain{
	width: 100vw;
	height: 300vh;
	background: black url('../img/floor/woodfloor.jpg');
	background-position: 0% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 25vh;
    z-index: 4;
}
#curtain>img{
	width: 50vw;
	height: 100vh;
}

/*======DONUT CONTACT========*/
#contactword{
	position: absolute;
	z-index: 3;
	top: 103%;
	left: -45%;

	max-height: 3vh;
	min-height: 3vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;	
}
#donutcontainer:hover > #contactword{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}

#donut{
	max-height: 25vh;
	min-height: 25vh;
	width: auto;

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;

    -moz-animation: 3.1s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3.1s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3.1deg)}
    50%{-moz-transform:rotate(3.1deg)}
    100%{-moz-transform:rotate(-3.1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3.1deg)}
    50%{-webkit-transform:rotate(3.1deg)}
    100%{-webkit-transform:rotate(-3.1deg)}
}
#donut:hover{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}
/*=========ICONS=========*/
.dim{
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);	
}
.icon{
	max-height: 75vh;
	min-height: 75vh;
	width: auto;




	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;	
}
.clicker:hover ~ .icon{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}

/*=====ICON CLICKABLE AREA========*/
.clicker{
	min-width: 100%;
    max-width: 100%;
    min-height: 30%;
    max-height: 30%;

    z-index: 20;
    display: inline-block;
    border-radius: 10%;

    position: absolute;
    top: 60vh;
    cursor: pointer;
    cursor: hand;
}
#newspaperclicker{
	/*left: -28%;*/
}
#suitclicker{
	/*left: -63%;*/
}
#briefcaseclicker{
	/*left: -5%;*/
}
#octocatclicker{
	/*left: -36%;*/
}
#pianoclicker{
	/*left: -40%;*/
}

/*======WORDS========*/
.words{
	position: absolute;
	z-index: 3;
	top: 103%;
	left: -45%;

	max-height: 6vh;
	min-height: 6vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}
.clicker:hover ~ .words{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
#blogword{
}
#linkedinword{
}
#portfolioword{
	left: -30%;
}
#githubword{
	left: -30%;
}
#musicword{
	left: -30%;
}
#contactword{
	
}

/*========SHADOWS========*/
.shadow{
	position: fixed;
	width: 350px;
	height: 40px;
	border-radius: 100%;
	background: rgba(255,255,255,.4);
	z-index: 2;
	display: none;
	top: 95vh;
}
#newspapershadow{
	left: 1vw;
}
#suitshadow{
	left: 19vw;
}
#briefcaseshadow{
	left: 40vw;
}
#octocatshadow{
	left: 61vw;
}
#pianoshadow{
	left: 81vw;
}


/**************** HANGIN STARS ********************/
.hanging-star{
	min-height: 40vh;
	max-height: 40vh;
	width: auto;
}

/*=========STAR A==========*/
#starA{
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}
/*=========STAR B==========*/
#starB{
    -moz-animation: 3.5s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3.5s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3.5deg)}
    50%{-moz-transform:rotate(3.5deg)}
    100%{-moz-transform:rotate(-3.5deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3.5deg)}
    50%{-webkit-transform:rotate(3.5deg)}
    100%{-webkit-transform:rotate(-3.5deg)}
}
/*=========STAR C==========*/
#starC{
    -moz-animation: 3.1s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3.1s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3.1deg)}
    50%{-moz-transform:rotate(3.1deg)}
    100%{-moz-transform:rotate(-3.1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3.1deg)}
    50%{-webkit-transform:rotate(3.1deg)}
    100%{-webkit-transform:rotate(-3.1deg)}
}
/*=========STAR D==========*/
#starD{
    -moz-animation: 3.3s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3.3s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}
/*=========STAR E==========*/
#starE{
    -moz-animation: 3.7s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3.7s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-2deg)}
    50%{-moz-transform:rotate(2deg)}
    100%{-moz-transform:rotate(-2deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-2deg)}
    50%{-webkit-transform:rotate(2deg)}
    100%{-webkit-transform:rotate(-2deg)}
}
/*=========STAR F==========*/
#starF{
    -moz-animation: 2.9s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 2.9s infinite ease-in-out;
    -webkit-transform-origin:top;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-2deg)}
    50%{-moz-transform:rotate(2deg)}
    100%{-moz-transform:rotate(-2deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-2deg)}
    50%{-webkit-transform:rotate(2deg)}
    100%{-webkit-transform:rotate(-2deg)}
}




/**************** TWINKLE STARS ********************/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
	position: fixed;
	top: 0%;
	z-index: 0;

	max-height: 90vh;
	min-height: 90vh;
	width: 100vw;

	display:block;
}

.stars {
	background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	background-attachment: fixed;
	background-size: cover;
	z-index:0;
}

.twinkling{
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index:1;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}



/*========POP UPS=============*/
/* The Modal (background) */
.popup {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


