/*===================== PAGE III =====================*/
#thirdpage{
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: #000 url('../src/img/floor/woodfloor.jpg') no-repeat fixed bottom;
	background-size: 100vw 10vh;
}
#back_to_bio{
	z-index: 14;
	top: 0%;
	left: 50.3%;
}
/**************** HANGIN STARS ********************/
@-moz-keyframes swing{
	0%{-moz-transform:rotate(-3deg)}
	50%{-moz-transform:rotate(3deg)}
	100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
	0%{-webkit-transform:rotate(-3deg)}
	50%{-webkit-transform:rotate(3deg)}
	100%{-webkit-transform:rotate(-3deg)}
}
.bg-star{
	height: 40vh;
	width: auto;
	z-index: 10000;
	top: -65vh;
}

/*=========STAR A==========*/
#starA{
	left: 2vw;
	-moz-animation: 3s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR B==========*/
#starB{
	left: 18vw;
	-moz-animation: 3.5s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.5s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR C==========*/
#starC{
	left: 35vw;
	-moz-animation: 3.1s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.1s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR D==========*/
#starD{
	left: 59vw;
	-moz-animation: 3.3s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.3s infinite ease-in-out;
	-webkit-transform-origin:top;
}
/*=========STAR E==========*/
#starE{
	left: 78vw;
	-moz-animation: 3.7s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation:swing 3.7s infinite ease-in-out;
	-webkit-transform-origin:top;
}

/*======BURGER CONTACT========*/
#burgercontainer{
	top: -80vh;
	left: 92vw;
}
#burgercontainer:hover > #contactword{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}
#burger{
	height: 40vh;
	width: auto;
	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}
#burger:hover{
	-webkit-filter: brightness(1);
	filter: brightness(1);
	cursor: pointer;
	cursor: hand;
}
#contactword{
	position: absolute;
	z-index: 3;
	top: 430px;
	left: 0%;

	max-height: 3vh;
	min-height: 3vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}


/********************ICONS********************/
.iconContainer{
	z-index: 11;
	top: -145vh;
}
.icon{
	height: 75vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}
#newspaperContainer{
	left: 10vw;
}
#suitContainer{
	left: 30vw;
}
#briefcaseContainer{
	left: 50vw;
}
#octocatContainer{
	left: 72vw;
}
#pianoContainer{
	left: 90vw;
}


/*=====ICON CLICKABLE AREA========*/
.clicker{
	min-width: 100%;
	max-width: 100%;
	min-height: 30%;
	max-height: 30%;

	z-index: 19;
	display: inline-block;
	border-radius: 10%;

	position: absolute;
	top: 60vh;
	cursor: pointer;
	cursor: hand;
}
.clicker:hover ~ .icon{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}

/*======WORDS========*/
.words{
	position: absolute;
	z-index: 11;
	top: 103%;
	left: -30%;

	height: 6vh;
	width: auto;

	-webkit-filter: brightness(0.4);
	filter: brightness(0.4);

	transition: .6s filter linear;
	-webkit-transition: .6s -webkit-filter linear;
	-moz-transition: .6s -moz-filter linear;
	-moz-transition: .6s filter linear;
	-ms-transition: .6s -ms-filter linear;
	-o-transition: .6s -o-filter linear;
}
.clicker:hover ~ .words{
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
#blogword{
}
#linkedinword{
  left: -34%;
}
#portfolioword{
}
#githubword{
}
#musicword{
}
#contactword{
}

/*========SHADOWS========*/
.shadow{
	z-index: 12;
	position: fixed;
	width: 17vw;
	height: 5vh;
	border-radius: 100%;
	background: rgba(255,255,255,.4);
	display: none;
	top: 95vh;

}
#newspapershadow{
	left: 10vw;
}
#suitshadow{
	left: 30vw;
}
#briefcaseshadow{
	left: 50vw;
}
#octocatshadow{
	left: 72vw;
}
#pianoshadow{
	left: 90vw;
}







/**************** TWINKLE STARS ********************/

.twinkling{
	top: 0%;
	z-index: 0;

	height: 90vh;
	width: 100vw;

	display:block;
	background: url(../src/img/twinklestars/twinklestars.gif) repeat;
}