/*===================== PAGE II =====================*/
#secondPage{
	width: 100vw;
	height: 100vh;
	z-index: 20;
	background: #000 url('../img/floor/woodfloor.jpg') no-repeat fixed bottom;
	background-size: 100vw 10vh;
}
#back_to_landing{
	z-index: 22;
	top: 1%;
}
/*============= Curtain =============*/
.curtain{
	z-index: 21;
	width: 50vw;
	height: 100vh;
}
#curtain1{
	top: 0%;
	left: 0%;
}
#curtain2{
	top: 0%;
	left: 50%;
}
/*============= BioSection =============*/
#bio{
	z-index: 22;
	top: 50%;
	left: 50%;
	width: 30vw;
	max-width: 700px;
	box-sizing: border-box;
	border: 15px groove white;
	font-size: 1.5em;
	background: rgba(255, 255, 255, 0.5);
	font-family: 'Average Sans', sans-serif;
	padding: 1%;
}

#bioHeader{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-size: 1.6em;
	text-align: center;
}
#sendMeALine{
	color: #6d1c1c;
	cursor: pointer;
	cursor: hand;
}
#self_portrait{
	z-index: 22;
	top: 50%;
	left: 15%;
	max-width: 280px;
	max-height: 35vh;
	height: auto;
	width: auto;
	border-radius: 30%;
}
#marquee{
	z-index: 22;
	top: 50%;
	left: 85%;
	height: auto;
	width: 27vw;
	max-width: 400px;
}
#to_connections{
	z-index: 22;
	bottom: 2%;
}