/*========POP UPS=============*/
/* Popup Background) */
.popup{
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Popup Content */
.popup-content{
	box-sizing: border-box;
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 750px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
}
/* Close Button */
.close, .pclose, .iclose{
	color: #aaa;
	float: right;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Average Sans', sans-serif;
	position: absolute;
	top: 20px;
	right: 25px;
}

.close:hover,
.close:focus,
.pclose:hover,
.pclose:focus,
.iclose:hover,
.iclose:focus,
.popupLink:hover,
.popupLink:focus,
.infoLink:hover,
.infoLink:focus,
#contactMe {
	color: black;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}
/*======CONTACT POPUP======*/
#contact-content{
	width: 30%;
	font-size: 1.3em;
	font-family: 'Average Sans', sans-serif;
	text-align: center;
	margin: 0px;
	z-index: 1000;
}
#phone{
	display: inline-block;
	font-size: 1em;
	margin-top: 1em;
}
#email{
	font-size: 70%;
}
big{
	font-size: 1.2em;
}