@import "./global/global";
@import "./global/helpers";
@import "./global/variables";

@import "./components/modals";
@import "./components/navigation";
@import "./components/portfolio";

@import "./pages/loadingPage";
@import "./pages/page1";
@import "./pages/page2";
@import "./pages/page3";


/*================ASPECT RATIOS====================*/
@media screen and (min-aspect-ratio: 3/2){
	#bio{
		width: 40vw;
	}
	#marquee{
		height: auto;
		width: 25vw;
	}
	#self_portrait{
		width: 20vw;
		height: auto;
		max-height: 80vh
	}
}
@media screen and (max-aspect-ratio: 3/2) and (min-aspect-ratio: 1/1){
	#self_portrait, #marquee{
		left: 78%;
		height: auto;
	}
	#self_portrait{
		top: 32%;
	}
	#marquee{
		width: 35vw;
		max-width: 320px;
		top: 70%;
	}
	#bio{
		width: 40vw;
		left: 25%;
		box-sizing: border-box;
	}
}
@media screen and (max-aspect-ratio: 1/1){
	#self_portrait, #marquee{
		left: 50%;
		height: 25vh;
		width: auto;
	}
	#self_portrait{
		top: 20%;
	}
	#marquee{
		top: 80%;
	}
	#bio{
		width: 90vw;
		top: 50%;
		left: 50%;
	}
	#bio p:nth-child(2){
		margin-top: 0px;
	}
	#bio p:last-child{
		margin-bottom: 0px;
	}
	#bioHeader{
		margin: 0px;
	}
	#back_to_landing, #to_connections{
		display: none;
	}
}



/*================MAX WIDTH====================*/
@media screen and (max-width: 1550px) {
	#bio{
		font-size: 1.3em;
	}
}
@media screen and (max-width: 1170px){
	#secondPage{
		background: transparent;
	}
	.btn{
		height: auto;
		width: 18vw;
	}

	/*PAGE I*/
	#textholder{
		width: 90vw;
	}

	/*PAGE II*/



	/*PAGE III*/
	#bgHanging, #icons, #back_to_bio{
		display: none;
	}
	#mobileLinks{
		display: block;
	}
	.words{
		position: fixed;
		left: 50%;
		height: 10vh;
		width: auto;
		-webkit-filter: brightness(1);
		filter: brightness(1);
		/*max-width: 95vw;*/
	}
	#blogwordMobile{
		top: 12.7%;
	}
	#linkedinwordMobile{
		top: 28.3%;
	}
	#portfoliowordMobile{
		top: 44%;
	}
	#githubwordMobile{
		top: 59.6%;
	}
	#musicwordMobile{
		top: 75.3%;
	}
	#contactMe{
		top: 92%;
		width: 7em;
		height: auto;
		display: block;
		background: white;
		text-align: center;
		border-radius: 20px;
		padding: 10px 30px;
		font-family: 'Anton', sans-serif;
		font-size: 3em;
		margin: 0px;
	}

	/*PopUps*/
	#contact-content{
		width: 80%;
		font-size: 2em;
		font-family: 'Average Sans', sans-serif;
		text-align: center;
		margin: 0px;
	}
}
@media screen and (max-width: 770px){
	#firstPage{
		background-attachment: scroll;
	}
	/*PopUps*/
	.portfolioBox{
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: scroll;
		top: -50vh;
	}
	.projectContainer{
		width: 90vw;
	}
	.projectContainer:nth-child(2){
		margin-top: 50px;
	}
	.portfolioClicker{
		display: inline-block;
		text-align: center;
		width: 85vw;
	}
	.portfolioTitle{
		display: block;
		font-size: 1.3em;
		margin-bottom: 10px;
	}
	.portfolioImage{
		width: 60vw;
		height: auto;
		display: inline-block;
		margin: auto;
		border: 3px solid black;
	}
	.infoLink{
		width: 15vw;
		height: auto;
		margin: 0px 15px 20px 15px;
	}
	/*======PORTFOLIO LAYER 3======*/
	.infoBox{
		display: none;
		width: 90vw;
		font-family: 'Average Sans', sans-serif;
		font-size: 90%;
	}
	.infoBox>h2{
		width: 100%;
		text-align: center;
		text-decoration: underline;
	}
}
@media screen and (max-width: 700px){
	#bioHeader{
		display: none;
	}
}
@media screen and (max-width: 450px){
	#marquee{
		max-width: 85vw;
		height: auto;
	}
	#self_portrait{
		max-width: 45vw;
		height: auto;
	}
	#bio{
		font-size: 1em;
	}
	#enter_here{
		display: none;
	}
}
@media screen and (max-width: 280px){
	#bio{
		font-size: 1em;
	}
}

/*================MAX HEIGHT====================*/

@media screen and (max-height: 890px){
	#bio{
		font-size: 1em;
	}
	#bio p:nth-child(2){
		margin-top: 0px;
	}
	#bio p:last-child{
		margin-bottom: 0px;
	}
	#bioHeader{
		margin: 0px;
	}
}
@media screen and (max-height: 760px){
	#enter_here{
		height: 12vh;
		width: auto;
	}
	#contactMe{
		font-size: 1.8em;
	}
}
@media screen and (max-height: 600px){
	#bioHeader{
		display: none;
	}
	#textholder{
		height: 9em;
	}
	#myName{
		font-size: 1.5em;
	}
	#myTitle{
		font-size: 1em;
	}
}
@media screen and (max-height: 480px){
	#back_to_landing, #to_connections{
		display: none;
	}
}
@media screen and (max-height: 420px){
	#bio{
		font-size: .8em;
	}
}
@media screen and (max-height: 350px){
	#self_portrait{
		max-width: 20vw;
		width: auto;
	}
}
/*================MAX HEIGHT & WIDTH====================*/
@media screen and (max-height: 770px) and (max-width: 330px){
	#bio{
		font-size: .8em;
	}
}
@media screen and (max-height: 600px) and (max-width: 330px){
	#marquee{
		max-height: 22vh;
		width: auto;
		top: 85%;
	}
	#self_portrait{
		max-height: 22vh;
		width: auto;
		top: 15%;
	}
}
@media screen and (max-height: 770px) and (max-width: 450px){
	.pclose{
		top: 15%;
	}
	#marquee{
		max-height: 22vh;
		width: auto;
		top: 85%;
	}
	#self_portrait{
		max-height: 22vh;
		width: auto;
		top: 15%;
	}
	#contact-content{
		font-size: 1.3em;
	}
}
