@import "./global/_mixins";
@import "./global/_fonts";
@import "./global/_global";
@import "./global/_helpers";
@import "./global/_variables";

@import "./components/_modals";
@import "./components/_navigation";
@import "./components/_portfolio";

@import "./pages/_loadingPage";
@import "./pages/_page1";
@import "./pages/_curtainPages";
@import "./pages/_curtainPage1";
@import "./pages/_curtainPage2";
@import "./pages/_page3";

/*================MAX WIDTH====================*/
@media screen and (max-width: 1170px){
	#secondPage{
		background: transparent;
	}
	.btn{
		height: auto;
		width: 18vw;
	}

	/*PAGE I*/

	/*PAGE II*/

	/*PAGE III*/
	#bgHanging, #icons, #back_to_bio{
		display: none;
	}
	#mobileLinks{
		display: block;
	}
	.words{
		position: fixed;
		left: 50%;
		height: 10vh;
		width: auto;
		-webkit-filter: brightness(1);
		filter: brightness(1);
		/*max-width: 95vw;*/
	}
	#blogwordMobile{
		top: 12.7%;
	}
	#linkedinwordMobile{
		top: 28.3%;
	}
	#resumewordMobile{
		top: 44%;
	}
	#githubwordMobile{
		top: 59.6%;
	}
	#musicwordMobile{
		top: 75.3%;
	}
	#contactMe{
		top: 92%;
		width: 7em;
		height: auto;
		display: block;
		background: white;
		text-align: center;
		border-radius: 20px;
		padding: 10px 30px;
		font-family: 'Anton', sans-serif;
		font-size: 3em;
		margin: 0px;
	}

	/*PopUps*/
	#contact-content{
		width: 80%;
		font-size: 2em;
		font-family: 'Average Sans', sans-serif;
		text-align: center;
		margin: 0px;
	}
}
@media screen and (max-width: 770px){
	/*PopUps*/
	.portfolioBox{
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: scroll;
		top: -50vh;
	}
	.projectContainer{
		width: 90vw;
	}
	.projectContainer:nth-child(2){
		margin-top: 50px;
	}
	.portfolioClicker{
		display: inline-block;
		text-align: center;
		width: 85vw;
	}
	.portfolioTitle{
		display: block;
		font-size: 1.3em;
		margin-bottom: 10px;
	}
	.portfolioImage{
		width: 60vw;
		height: auto;
		display: inline-block;
		margin: auto;
		border: 3px solid black;
	}
	.infoLink{
		width: 15vw;
		height: auto;
		margin: 0px 15px 20px 15px;
	}
	/*======PORTFOLIO LAYER 3======*/
	.infoBox{
		display: none;
		width: 90vw;
		font-family: 'Average Sans', sans-serif;
		font-size: 90%;
	}
	.infoBox>h2{
		width: 100%;
		text-align: center;
		text-decoration: underline;
	}
}


/*================MAX HEIGHT====================*/

@media screen and (max-height: 760px){
	#contactMe{
		font-size: 1.8em;
	}
}

@media screen and (max-height: 480px){
	#back_to_landing, #to_connections{
		display: none;
	}
}
@media screen and (max-height: 350px){
	// #self_portrait{
	// 	max-width: 20vw;
	// 	width: auto;
	// }
}
/*================MAX HEIGHT & WIDTH====================*/
@media screen and (max-height: 600px) and (max-width: 330px){
	// #self_portrait{
	// 	max-height: 22vh;
	// 	width: auto;
	// 	top: 15%;
	// }
}
@media screen and (max-height: 770px) and (max-width: 450px){
	.pclose{
		top: 15%;
	}
	// #self_portrait{
	// 	max-height: 22vh;
	// 	width: auto;
	// 	top: 15%;
	// }
	#contact-content{
		font-size: 1.3em;
	}
}
